<form #registerForm="ngForm" (ngSubmit)=onSubmit(registerForm)>
    <fieldset>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" name="fname" [(ngModel)]="model.fname" #fname="ngModel" minlength="4" required>
            <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
                class="alert alert--error">
                <div *ngIf="fname.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="fname.errors?.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" name="lname" [(ngModel)]="model.lname">
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="model.email">
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input class="form-control" type="tel" name="phone" [(ngModel)]="model.phone">
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label>User name</label>
            <input class="form-control" type="text" name="username" [(ngModel)]="model.username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" minlength="4" required>
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input class="form-control" type="password" name="cpassword" [(ngModel)]="model.cpassword"  #cpassword="ngModel" minlength="4" required>
        </div>
        <div *ngIf="(cpassword.invalid && (cpassword.dirty || cpassword.touched)) || cpassword!=password ; else goodWork"
            class="alert alert--error">
            <div *ngIf="cpassword.errors?.required">
                Password is required.
            </div>
            <div *ngIf="cpassword.errors?.minlength">
                Password must be at least 4 characters long.
            </div>
        </div>
        <ng-template #goodWork>
            <div>Good work!</div>
        </ng-template>
            
    </fieldset>
    <div class="form-group register-form__button">
        <button class="btn btn-danger btn-block">Sign Up</button>
    </div>
</form>