<div class="header">
    <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
      <div class="main-container--1400 header__container">
        <a class="navbar-brand header__log" href="#">Logo</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
</div>