@import "../node_modules/bootstrap/scss/bootstrap";
.main-container {
    &--1400 {
        width: 100%;
        margin: 0 auto;
        max-width: 1400px;
    }
}
.alert {
    &--error {
        color: red;
    }
}